@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Fuzzy+Bubbles&family=Grandstander:wght@100&family=Roboto+Mono:wght@300&display=swap');

*{margin: 0;
padding: 0; 
}

/*ESTILOS*/

.generales{
	font-size: 1.4rem; 
	font-family: 'Architects Daughter', cursive;
	color: darkgreen;
	line-height: 1.8rem;
	box-sizing: border-box;
	background-image: url(../img/wall.png);
	background-color: lightgreen;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
	}
.tituH1 {
	text-align: center;
	font-size: 4rem;
	color: #5F1A73;
	text-shadow: 1px 1px 2px rgba(83, 0, 100, 0.507);
	font-family:'Caveat', cursive;
	margin: 1.5rem auto;
	}
.tituH2 {
	text-align: center;
	font-size: 2.2rem;
	color: rgb(157, 11, 11);
	text-shadow: 1px 1px 1px rgba(157, 11, 11, 0.685);
	font-family:'Architects Daughter', cursive;
	margin: 5px auto;
	}
.tituH3 {
	font-size: 1.8rem;
	font-family: 'Architects Daughter', cursive;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 100, 0, 0.404);
	color: darkgreen;
	margin: 0.8rem auto;
	}


/*NAV*/
.fondoNav {
	background: linear-gradient(to right,rgba(60, 233, 80, 0.3),rgba(146, 119, 245, 0.3));
	}
#navFormat li a {
	color: darkgreen;
	font-size: 1.6rem;
	}
ul a:hover {
	font-weight: bolder;
	}
.dropdown-menu { 
	background-color: #fff9;
	padding: 0;
	border: none;
	}
.dropdown-item {
	background: linear-gradient(to right,rgba(60, 233, 80, 0.3),rgba(146, 119, 245, 0.3));
	font-size: 1.4rem;
	padding: 1.4rem;
	}
.logo {margin:0.6rem;}
.logo:hover {
	transform: scale(1.2);
	transition: transform 4s;
	}
#dropNoColor {background: linear-gradient(to right,rgba(60, 233, 80, 0.3),rgba(146, 119, 245, 0.3));
}
#dropNoColor:hover {background-color: #fff9}

/*MAIN*/
.mainA {
	padding: 5px;
	background: radial-gradient(circle, rgba(111, 193, 231, 0.253) 0%, rgba(195,6,242,0.2049194677871149) 90%);
	box-shadow: 4px 4px 15px 0 #601a738f;
	border-radius: 4px;
	}
.veggiecita {
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 100, 0, 0.507);
	font-size: 5rem;
	color: darkgreen;
	font-family: 'Caveat', cursive; 
	margin: 1rem auto;
	}	
.mainP {
	text-align: center;
	font-size:x-large;
	line-height: 1.6;
	color: #5F1A73;
	} 

/*carousel*/	
h5 {
	text-align: center;
	font-size: 5rem;
	color: #6d12a1ad;
	text-shadow: 2px 2px rgba(235, 192, 243, 0.541);
	font-family:'Caveat', cursive;
	}


/*TABLE*/
table {
	background-color: #7fbb833a;
	text-align: center;
	box-shadow: 4px 4px 15px 0 #601a738f;
	}
table>:not(caption)>*>* {
	border-color: #2f5f3725;
	color: darkgreen;
	}
.tHead {
	background: linear-gradient(to left,rgba(60, 233, 80, 0.3), 
	rgba(146, 119, 245, 0.3));
	color: darkgreen;
	border-bottom:rgba(0, 100, 0, 0.425)
	}
tr:hover {
	background: linear-gradient(to left,rgba(60, 233, 80, 0.3), 
	rgba(146, 119, 245, 0.3));
	}	

	
/*MAP*/
.figureMap {
	border-radius: 5px;
	align-self: center;
	box-shadow: 4px 4px 15px 0 #601a738f;
	}


/*DIPS SALADAS DULCES*/
.card {
	background-color: #ee6edd4b;
	color: #5F1A73;
	text-align:center;
	word-wrap: normal;
	font-weight: bold;
	font-size: 1.6rem;
	text-shadow: 1px 1px 2px rgba(83, 0, 100, 0.507);
	box-shadow: 4px 4px 15px 1px rgb(0 100 0 / 92%);
	border:none}
.card:hover {
	box-shadow: 0.5rem 0.5rem 4rem 0 rgba(177, 63, 148, 0.863);
	transform: scale(1.1);
	transition: transform 4s;
	cursor: pointer;
	}
	
.imgReceta {
	box-shadow: 4px 4px 15px 1px rgba(85, 47, 80, 0.822);
	border-radius: 4px;
	}
.lineHeight {
	line-height: 2.5rem;
	box-shadow: -4px 4px 10px rgba(146, 119, 245, 0.253);
	border-radius: 4px;
	}	

/*GALERIA*/
 
.gridGaleria {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 
	"baba guac hum" 
	"fal las pizza"
	"boc brow hel";
	justify-items: center;
	padding: 1rem;
	grid-row-gap: 2rem;
	}

.gridBaba {grid-area: baba;}
.gridGuac {grid-area: guac;}
.gridHum {grid-area: hum;}

.gridFal {grid-area: fal;}
.gridLas {grid-area: las;}
.gridPizza {grid-area: pizza;}

.gridBoc {grid-area: boc;}
.gridBrow {grid-area: brow;}
.gridHel {grid-area: hel;}



/*FORM*/
legend {
	font-family: 'Architects Daughter', cursive; 
	font-size: larger;
	font-weight: bolder;
	text-align: center;
	}
label {
	font-size: 1.2rem;
	text-align: center;
	}
input, select, textarea {
	border: solid 1px darkgreen;
	box-shadow: 2px 4px 6px 0 darkgreen;
	font-family:'Architects Daughter', cursive;
	font-size: large;
	color: darkgreen;
	text-align: center;
	}
.borderBox {
	background: linear-gradient(to top,rgba(162, 250, 169, 0.226),rgba(60, 233, 80, 0.3));
	border-radius: 4px;
	}
.form-control {
	background-color: #f0f8d2b4;
	border: #198754;
	color:#198754;
	font-size: large;
	}
.form-select {
	background-color: #f0f8d2b4;
	border: #198754;
	color:#198754;
	font-size: large;
	}
.form-check-input:checked {
	background-color: #198754;
	border-color: rgba(0, 100, 0, 0.425)
	}
.botones {
	box-shadow: 2px 4px 6px 0 darkgreen;
	font-family:'Architects Daughter', cursive;
	font-size: large;
	font-weight: bold;
	color: darkgreen;
	text-align: center;
	background-color: #f0f8d2b4;}
.botones:hover {
	background-color: darkgreen;
	color:#d2f8d4;
	cursor: pointer;
	transform: scale(1.2);
	transition: transform 4s;
	}
	

/*FOOTER*/
footer {
	background: linear-gradient(to left,rgba(60, 233, 80, 0.3), 
	rgba(146, 119, 245, 0.3));
	}



/*MEDIAS*/

@media screen and (max-width: 992px) {
	.gridGaleria {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, auto);
		grid-template-areas: 
		"baba guac" "hum hum"
		"fal las" "pizza pizza"
		"boc brow" "hel hel";}
	}
@media screen and (max-width: 768px) {
	.gridGaleria {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, auto);
		grid-template-areas: "baba" "guac" "hum"
		"fal" "las" "pizza"
		"boc" "brow" "hel";}
	}
@media only screen and (max-width: 550px){
	.iframe {width: 250px;}
	.imgReceta {width: 75%;}
	.card {width: 75%;}

	}
@media only screen and (max-width: 400px) 
	{.tableFont 	
		{font-size: medium;}
	.veggiecita {font-size: 3rem;}
	.tituH1 {
		font-size: 3rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		}
	.tituH2 {font-size: 1.8rem;}
	.card-text {font-size: 1.4rem;}
	}
	 
	
/*ANIMACIONES*/
@keyframes barra {
	0% {background-image: url(../img/1index163.jpg);}
	25% {background-image: url(../img/2walldips163.jpg);}
	50% {background-image: url(../img/3wallsalados162.jpg);}
	75% {background-image: url(../img/4walldulces162.jpg);}
	100% {background-image: url(../img/5.jpg);}
	}
.barra {
	height: 7rem;
	width: 100%;
	animation-name: barra;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-duration: 25s;
	background-size: cover;
	background-position: center;
	}		

	